header {
  display: flex;
  flex-direction: column;
  padding-top: 120px;
  height: 466px;
  width: 100%;
  align-items: center;
  background-color:  #b23a48;
  background-image: url("/images/background-main.png")
}

.username {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: normal;
  color: white;
}

@media screen and (min-width: 1024px) {
  header {
    width: 33%;
    margin: 170px 50px 0px 50px;
    padding: 20px 50px 0px 50px;
    height: 20%;
    font-size: 90%;
    border-radius: 20px;
  }
}